body{
    background: #ffefe0;
}
a{
    text-decoration: none;
}
a:hover {
    color:#8ae9ff;
}
.top_bar {
    width: 100%;
    background: #ff7b00;
    list-style-type: none;
    color:#EEEFEF;
    display: inline-block;
}
.top_bar_list > li{
    display: inline-block;
    padding-left: 40px;

}
.AuthBTNS{
    margin-top: 10px;
    float: right;
    margin-right: 30px;
}
.AuthBTNS a{
    background: #ff7b00;
    border: 1px solid #ffa047;
    padding:3px;
    border-radius: 10px;
}
.AuthBTNS a:hover{
    background: #a14e00;
}

/*------------------------------------------------top_bar------------------------------------*/

.main{
    margin: 0;
    padding: 0;
    position: relative;
    background-color:#ff7b00;
}

.aside{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    margin-top: 138px; padding: 0;
    background: #ff7b00;
    border-bottom-right-radius: 20px;
}

.content{
    margin-right: auto;
    margin-left: auto;
     right: 0;
    top: 0;
     width: 41.5%;
     color:#EEEFEF;
     background: #ff7b00;
}

.catalog li,a,h1,h2{
    list-style-type: none;
    color:#EEEFEF;
    font-size: 20px;
}


.unit{
    width: 800px;
    display: inline-flex;
    padding-bottom: 30px;
    border:5px solid #ffa047;
    margin-right: auto;

}

.about{
    padding-left: 10px;
}



.updUnit{
    width: 30px;
    height: 30px;
}

.logo {
    width:120px;
    height:120px;
}


.search{
    margin-left: 28%;
    display: flex;
    background: #f7eed7;
    padding: 10px;
    width:300px;
    border: 2px solid #dbd3bf;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}

.buttonsch{
    margin-left: 5px;
    border: 2px solid #dbd3bf;
    border-radius: 5px;
}
.pagination a{
    display: flex;
    color: white;
    background: #ff7b00;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
}
ul{
    list-style-type: none;
}