{% extends 'base.html' %}
{%load static%}

{%block title%}о нас{%endblock%}

{%block content%}
<div class="about">

Красная ул., 31, Кропоткин<br>

Режим работы<br>
  пн-пт 08:00–18:00; сб,вс 09:00–18:00 <br>
Контакты<br>
+7 (86138) 6-64-00<br>
+7 (86138) 6-50-16<br>
</div>

<div class="about"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11199.060484068918!2d40.5758122!3d45.4342359!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40fa461412245f6b%3A0x2d4c566bff14c545!2z0KLQtdGF0L3QvtC80LDRgNC60LXRgg!5e0!3m2!1sru!2sru!4v1683732041948!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
{%endblock%}