{% extends 'base.html' %}
{%load static%}

{%block title%}Каталог{%endblock%}

{%block aside%}
{%if group%}
{%for g in group%}
<div>
    <ul class="catalog">
        <li><a><h1>{{g.gr}}</h1></a></li>
        {%for c in g.category_set.all%}
        <ul>
        <li><a href="{%url 'techMarket:showCategory' c.id %}"><h2>{{c.cat}}</h2></a></li>
        </ul>
        {%endfor%}

    </ul>

</div>
{%endfor%}
{%endif%}
{%endblock%}


{%block content%}

<div class="ShUnit">
  <div><h1>{{unit.title}}</h1></div>
  <div img_u><img class="img_u" src="{{unit.photo.url}}"></div>

  <div>
    <p>цена  {{unit.price}} Р</p>
      <h2>Описание</h2>
    <p>{{unit.about}}</p>
     <p>
    {{ character|join:"\n"}}
      </p>
  </div>
    <a class="btn btn_a" href="{%url 'techMarket:AddBucket' unit.id%}">Добавить в корзину</a>
</div>

<hr>

<div class="likes">
    <span>Количество оценок "Нравится": {{like}}</span>
    <a href="{%url 'techMarket:AddLike' unit.id %}"><img class="like" src="{%static 'techMarket/img/like.png'%}"></a>
</div>

<div class="comments">
{%for c in unit.comment_set.all%}
    <hr>
    <h1>{{c.user}}</h1>
    <p> {{c.text}}</p>
    <hr>
        {%endfor%}

</div>

<div class="comments">
 <span>Оставить комментарий: </span>
      <form action="{% url 'techMarket:commen' unit.id  %}" method="POST">
    {% csrf_token %}
        <textarea required="True" class="comment" name="comment" ></textarea>
    <button type="submit">Оставить комментарий</button>
    </form>
</div>
{%endblock%}