{% extends 'base.html' %}
{%load static%}

{%block title%}Каталог{%endblock%}

{%block aside%}
{%if group%}
{%for g in group%}
<div>
    <ul class="catalog">
        <li><a><h1>{{g.group}}</h1></a></li>
        {%for c in g.category_set.all%}
        <ul>
        <li><a class="btn btn_aa" href="{%url 'techMarket:showCategory' c.id %}"><p>{{c.cat}}</p></a></li>
        </ul>
        {%endfor%}

    </ul>

</div>
{%endfor%}
{%endif%}
{%endblock%}


{%block content%}
<form action="{%url 'techMarket:index' %}" method="GET">
     {% csrf_token %}
    <input style="width:920px" type="search" name="q" placeholder="поиск">
</form>

{%if message%}
<script>alert('{{message}}')</script>
{%endif%}

<div class="u_place">
{%for u in page_obj%}
<div class="unit">
    <div class="ph"><img class='ph' src="{{u.photo.url}}"></div>
    <div class="about">
        <div class="title">
        <h1>{{u.title}}</h1>
        </div>

        <div class="price">
        <h2>{{u.price}}₽</h2>
        </div>

        <div class="u_btn">
        <a class="btn btn_a" href="{%url 'techMarket:ShowUnit' u.id%}">Смотреть</a>
        <a class="btn btn_a" href="{%url 'techMarket:AddBucket' u.id%}">Добавить в корзину</a>
        {% if perms.unit%}
        <a class="btn btn_a" href="{%url 'techMarket:delUnit' u.id%}">Удалить</a>
        <a class="btn btn_a" href="{%url 'techMarket:updUnit' u.id %}">изменить</a>
        {%endif%}
        </div>
    </div>
</div>
{%endfor%}
</div>




{%endblock%}